In [1]:
import os
os.getcwd()

'/home/praveen/Documents/GitHub/data_zoomcamp/W1/02_Data_Ingestion_NYC'

In [4]:
import pandas as pd
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
df.to_csv('yellow_tripdata_2021-01.csv',index=False)

In [61]:

df = pd.read_csv('yellow_tripdata_2021-01.csv')

/tmp/ipykernel_26601/1769698380.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('yellow_tripdata_2021-01.csv')

In [62]:
len(df)

1369769

# Convert pd to SQL

## Generate SQL to match the schema and create an empty table

In [11]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [12]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [14]:
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

## Create the Table using the generated SQL in the DB with chunks

Loading using chunksize will help in processing files that dont fit in memory

In [67]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

chunksize = 50000
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=chunksize)
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')
from time import time
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
        t_end = time()
        duration = t_end - t_start
        print("Chunk size added :",len(df), ", duration :",duration)
        
    except StopIteration:
        print("Iteration over")
        break

Chunk size added : 50000 , duration : 5.70714807510376
Chunk size added : 50000 , duration : 5.689826488494873
Chunk size added : 50000 , duration : 5.627383470535278
Chunk size added : 50000 , duration : 5.586627244949341
Chunk size added : 50000 , duration : 5.594501972198486
Chunk size added : 50000 , duration : 5.764523506164551
Chunk size added : 50000 , duration : 5.606534004211426
Chunk size added : 50000 , duration : 5.594013452529907
Chunk size added : 50000 , duration : 5.669493198394775
Chunk size added : 50000 , duration : 5.778092861175537
Chunk size added : 50000 , duration : 5.669436693191528
Chunk size added : 50000 , duration : 5.583306074142456
Chunk size added : 50000 , duration : 5.626571416854858
Chunk size added : 50000 , duration : 5.9479897022247314
Chunk size added : 50000 , duration : 6.24994158744812
Chunk size added : 50000 , duration : 6.24175763130188
Chunk size added : 50000 , duration : 5.763253688812256
Chunk size added : 50000 , duration : 6.00328516960144
Chunk size added : 50000 , duration : 5.794949054718018
Chunk size added : 50000 , duration : 5.786228179931641
Chunk size added : 50000 , duration : 5.82396125793457
Chunk size added : 50000 , duration : 5.810079336166382
Chunk size added : 50000 , duration : 5.655757188796997
Chunk size added : 50000 , duration : 5.857224225997925
Chunk size added : 50000 , duration : 6.010197639465332

/tmp/ipykernel_26601/2704961657.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk size added : 50000 , duration : 6.244143486022949
Chunk size added : 50000 , duration : 5.804990768432617
Chunk size added : 19769 , duration : 2.330793857574463
Iteration over

In [60]:
len(df_iter)

TypeError: object of type 'TextFileReader' has no len()